body{
    background-color: #000;
    color: #fff;
}

.signup-form {
	width: 450px;
	margin: 30px auto;
}

.signup-form form {
	color: #000 ;
	border-radius: 0px;
	margin-bottom: 5px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
    border-radius: 30px;
}
.signup-form h1  {
	color: #000;
	font-weight: bold;
	margin-top: 0;
}

.signup-form hr  {
	margin: 0 -30px 20px;
}   

.signup-form .form-group {
	margin-bottom: 20px;
}

.signup-form .form-control {
	border-radius: 20px;
}

.signup-form .row div:first-child {
	padding-right: 10px;
}

.signup-form .row div:last-child {
	padding-left: 10px;
}

.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #ff4a00 ;
	border: none;
	min-height: 50px;
    color: #fff;
    border-radius: 30px;
}

.signup-form .btn:hover, .signup-form .btn:focus {
	background: #ff4a00 !important;
	outline: none;
	min-height: 50px;
    color: #fff;
    border-radius: 30px;
}

.signup-form a {
	color: #ff4a00;
	text-decoration: none;
}

.signup-form a:hover {
	text-decoration: none;
}

.signup-form form a {
	color: #ff4a00;
	text-decoration: none;
}	

.signup-form form a:hover {
	text-decoration: none;
}

.signup-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}