{% extends "Base.html" %}
        
    {% block content %}
    <div id = "about">
         <h2>ABOUT US</h2>
         <P>Pizza Store has been in bussiness for over 5 years with five branches in Kenya. 
            We offer unique services and also home delivery services for all pizza orders. 
            Keep your family,friends and collegues closer by ordering our finest varieties and 
            have a taste of heaven. We are happy to serve you with our top notch services.</P>
    </div>   

    <div id = "menu">
        <div class = "row">
             <h3>OUR MENU</h3>
             <div class= "col-sm-3">
                <h3>pizza type</h3>
                <ol>
                    <li>Chiken Tikka</li>
                    <li>Peri-Peri Chiken</li>
                    <li>Pepperoni</li>
                    <li>Hawaiian</li>
                    <li>Chicken&Mushroom</li>
                </ol>

             </div>
             <div class ="col-sm-3">
                <h4>pizza sizes</h4>
                <ol>
                    <li>Small @sh550</li>
                    <li>Medim @sh800</li>
                    <li>Large @sh1000</li>
                    <li>Extra-Large @sh1500</li>
                </ol>
            </div>
            <div class ="col-sm-3">
                <h3>toppings</h3>
                <ul>
                    <li>Extra cheese</li>
                    <li>Onions</li>
                    <li>Pepperoni</li>
                    <li>Tomatoes</li>
                    <li>Green pepper</li>
                </ul>
            </div>
            <div class ="col-sm-3">
                <h3>Quantity</h3>
            </div>
        </div>

    </div>
    {% endblock %}